<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <title>Connexion</title>
        <link rel="alternate icon" class="js-site-favicon" type="image/png" href="https://github.githubassets.com/favicons/favicon.png">
        <link rel="icon" class="js-site-favicon" type="image/svg+xml" href="https://github.githubassets.com/favicons/favicon.svg">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <header>
        </header>
        <section>
            <p>Connexion</p>
            <form method="post" action="">
                <label>Email*</label>
                <input type="email" name="email" value="" placeholder="email@example.com" required>
                <label>Password*</label>
                <input type="password" name="password" value="" required>
                <button type="submit">Envoyer</button>
            </form>
            <p>Les champs avec un "*" sont obligatoires</p>
        </section>
        <section>
            <p>Inscription</p>
            <form method="post" action="">
                <label>Email*</label>
                <input type="email" name="email" value="" placeholder="email@example.com" required>
                <label>Password*</label>
                <input type="password" name="password" value="" required>
                <label>Password confirmation*</label>
                <input type="password" name="password_confirmation" value="" required>
                <button type="submit">Envoyer</button>
            </form>
            <p>Les champs avec un "*" sont obligatoires</p>
        </section>
        <a href="forget_mdp">Mot de passe oublié</a>
        <footer>
        </footer>
    </body>
</html>